github "Alamofire/Alamofire" >= 1.3
github "mattt/Ono" >= 1.2.2
github "burntcaramel/BurntFoundation" >= 0.1
github "burntcaramel/BurntCocoaUI" >= 0.2
github "burntcaramel/BurntList" "cd14591eea4ae59ba9dd6d62297f52dc9526dd69"
