<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lantern Model.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lantern.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2054D6A1AF477C700DC2C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2054D7B1AF477C700DC2C00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22425CA1AC8F7CA00809EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22425D41AC8F7CB00809EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22425F21AC8F8B200809EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22425FC1AC8F8B200809EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22B7D8E1AC6B9090026AEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22B7DA01AC6B9090026AEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B25033301AF5E5B0006A2AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2E269161AE9DD650044BE04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2E269271AE9DD650044BE04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
